h1 {
    text-align: center;
}
.main{
    margin: 10px 40%;
}
.main input[type=text],
 input[type=password]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0px;
        display: inline-block;
        border: 1px solid green;
        border-radius: 4px;
        box-sizing: border-box;
}
.main button {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }
.main button:hover {
          background-color: #45a049;
      }
      .header {
          background-color: white;
          padding: 20px;
          text-align: center;
      }
.column {
          float: left;
          padding: 10px;
      }

      /* Left and right column */
.column.side {
          width: 20%;
      }

      /* Middle column */
.column.middle {
          width: 60%;
      }
#bar ul {
    display: none;
    background-color: #4CAF50;
    position: absolute;
    top: 100%;
}

#bar li:hover ul {
    display: block;
}

#bar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#bar {
    height: 50px;
    background-color: #4CAF50;
    padding-left: 25px;
    min-width: 470px;
}

#bar li {
    float: left;
    position: relative;
    height: 100%;
}

#bar li a {
    display: block;
    padding: 15px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#bar ul li {
    float: none;
}

#bar li:hover {
    background-color: #45a049;
    color: white;
}

#bar ul li:hover {
    background-color: #45a049;
    color: white;
}

}